version: "3.7"

volumes:
  victoria_metrics_data: {}

networks:
  ymonitor:

services:
  ymonitor:
    image: ghcr.io/mariuspod/ymonitor:${DOCKER_TAG:-latest}
    build: .
    ports:
      - 127.0.0.1:8090:8090
    volumes:
      - $PWD/monitors.json:/monitors.json
    env_file: .env
    networks:
      - ymonitor
    restart: unless-stopped

  vmagent:
    image: victoriametrics/vmagent:heads-public-single-node-0-g52eb9c99e
    volumes:
      - $PWD/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "-promscrape.config=/etc/prometheus/prometheus.yml"
      - "-remoteWrite.url=http://victoria-metrics:8428/api/v1/write"
    links:
      - victoria-metrics:victoria-metrics
    depends_on:
      - victoria-metrics
    networks:
      - ymonitor
    restart: always

  victoria-metrics:
    image: victoriametrics/victoria-metrics:v1.81.1
    volumes:
      - victoria_metrics_data:/victoria-metrics-data
    command:
      - "-retentionPeriod=10y"
    ports:
      - 127.0.0.1:9090:8428
    networks:
      - ymonitor
    restart: always
